<div class="app-creation">
    <h3 ng-hide="droppedFiles">New Visual Designer application</h3>
    <h3 ng-show="droppedFiles">Import Visual Designer application</h3>

    <div class="row params-section">
        <div class="col-md-6">
            <form class="dashboard-form">
                <label>Name </label>
                <input name="name" type="text" size="40" ng-model="appOptions.name">
            </form>
        </div>
    </div>

    <div class="row bottom-row">
        <div class="col-md-12">
            <span class="pull-right">
                <button class="rc-btn close-btn" ng-click="$root.goTo('/applications')">
                    <span class="hidden-xs">Close</span>
                    <span class="visible-xs"><i class="fa fa-times"></i></span>
                </button>
                <button ng-if="!droppedFiles" class="rc-btn save-btn" ng-click="">
                    <span class="hidden-xs">Next</span>
                    <span class="visible-xs"><i class="fa fa-chevron-right"></i></span>
                </button>
                <button ng-if="droppedFiles" class="rc-btn save-btn" ng-click="importProjectFromFile(droppedFiles, appOptions.name)">
                    <span class="hidden-xs">Import</span>
                    <span class="visible-xs"><i class="fa fa-chevron-right"></i></span>
                </button>
            </span>
        </div>
    </div>

</div>